@model string

<form hx-post="https://localhost:5001/api/auth/login" hx-trigger="submit">
    <input type="hidden" name="email" value="@ViewData["Email"]" />
    <input type="hidden" name="challengeToken" value="@Model" />
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />
    </div>
    <button type="submit">Sign In</button>
</form>
<div>
    ChallengeKey: @Model.Substring(0, 8)
</div>
<a href="/Account/Login">Use a different email</a>
