@model string

<form hx-post="https://localhost:5001/api/auth/register-create" hx-trigger="submit">
    <input type="hidden" name="email" value="@ViewData["Email"]" />
    <input type="hidden" name="passwordChallengeToken" value="@Model" />
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />
    </div>
    <div>
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required />
    </div>
    <button type="submit">Create Account</button>
</form>
